<div class="container">
  <div class="cover" style="background-image:url(<%= @profile.cover.url(:large) %>)">
    <div id="photo">
    
      <%= image_tag @profile.avatar.url(:cover), class:"img-responsive profile-image" %>
     
      <i class="fa fa-camera" id="camera"></i>
    </div>
    <h2 class="cover-name"><%= @profile.full_name%></h2>
  </div>
  <div class="timeline">
  </div>

</div>


<div class="container">
  <div class="col-xs-4">
    
  </div>
 <div class="col-xs-8 text-center">
  <h3>Know <%=@profile.full_name%>?</h3>
  <p><%=link_to 'Send them a friend request', friend_requests_path(respondee: @profile.id), method: :post %></p>