<div class="container">
  <% if @profile.cover.file? %>
  <div class="cover" style="background-image:url(<%= @profile.cover.url(:large) %>)">
     <% else %>
  <div class="cover">    
  <% end %>
  
    <div id="photo">
      <%= image_tag @profile.avatar.url(:cover), id:"profile-image" %>
    </div>
    <h2 class="cover-name"><%= @profile.full_name%></h2>
  </div>
  <div class="timeline">
  </div>

</div>


<div class="container">
  <div class="col-xs-4">
    
  </div>
 <div class="col-xs-8 text-center">
  <h3>Know <%=@profile.full_name%>?</h3>
  <p><%=link_to 'Send them a friend request', friend_requests_path(respondee: @profile.id), method: :post %></p>