
<h2 class="text-center">Sign up!</h2>
<div class="container text-center">
  <div class="form">
   <%= form_for(@user) do |f| %>
    <div class= "field form-group form-half">
      <%= f.label :first_name, class: "control-label" %>
      <%= f.text_field :first_name , class: "form-control"%>
    </div>
    <div class= "field form-group form-half">
      <%= f.label :last_name, class: "control-label" %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
    <div class= "field form-group form-half">
      <%= f.label :email, class: "control-label" %>
      <%= f.email_field :email, class: "form-control"%>
    </div>
    <div class= "field form-group form-half">
      <%= f.label :password, class: "control-label" %>
      <%= f.password_field :password, class: "form-control"%>
    </div>
    <div class= "field form-group form-half"> 
     <%= f.label :zip, class: "control-label" %>
      <%= f.text_field :zip, class: "form-control"%>
    </div>
    <div class= "field form-group form-half">
      <%= f.label :birthday, class: "control-label" %>
      <%= f.date_field :birthday, class: "form-control" %>
    </div>
    <div class= "field form-group form-half">
      <%= f.label :webpage, class: "control-label" %>
      <%= f.url_field :webpage, class: "form-control" %>
    </div>
    <div class= "form-group">
      <%= f.submit "Create an account", class: "btn btn-success" %>
    </div>
    <% end %>
  </div> 
</div>