

<div class="container">
  <div class="cover" style="background-image:url(<%= @profile.cover.url(:large) %>)">
    <div id="photo">
     
     <% if current_user.id != @profile.id %>
      <%= image_tag @profile.avatar.url(:cover), class:"img-responsive profile-image" %>
     <% else %>
       <%= link_to edit_user_path(current_user) do %>
         <%= image_tag @profile.avatar.url(:cover), class:"img-responsive profile-image" %>
       <% end%>
     <% end%>
      <i class="fa fa-camera" id="camera"></i>
    </div>
    <h2 class="cover-name"><%= @profile.full_name%></h2>
  </div>
  <div class="timeline">
  </div>

</div>
  <% if current_user.id != @profile.id %>
    <% if current_user.friends?(@profile.id)%>
      <%= render 'friends/show_friend' %>
    <% else %>
      <%=render 'profiles/not_friend' %>
    <% end %>
  <%else%>
    <%= render 'profiles/show_profile' %>
  <% end %>



