<div class="container">
  <h2 class="text-center">Your Friendships</h2>
  <%current_user.all_friends.each do |friendship| x=1%>
    <div class="friend">
     <%= link_to user_path(friendship.friend.id) do %>
       <%= image_tag friendship.friend.avatar.url(:friend)%>
     <%end%>
      <span class="name<%=x%>"> <%= friendship.friend.full_name %></span>
     </div>
  <%end%>
</div>


<div class="container">
  <h2 class="text-center">Friendship Requests</h2>
  
  <%current_user.friend_requests.each do |request| %>
   
    <%if request.received %>
      <div class="friend-request">
      
      <%=image_tag request.respondee.avatar.url(:friend)%>
        <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, request, method: :delete, data: { confirm: 'Are you sure you want to delete this friend request?' }  %>
        <div class="status text-left">
          
          <h4 class="status-name"><strong><%=link_to request.respondee.full_name, user_path(request.respondee.id)%></strong></h4>
            <p><%=request.respondee.first_name%> would like to add you as a friend.</p>
            <p><%=mutual_friends %></p>
            <p> <%=link_to "Accept Friend Request", friendships_path(friend_id: request.respondee.id, friend_request_id: request.id), method: :post%></p>
        </div>
      </div> 
    
      <%else%>
        <%next%>
    <%end%>
<%end%>
 

</div>